<h1>Stupid Coaching</h1>

<div class="question">
  <h3><%= params[:question]%></h3>
  <p><em>"-You"</em></p>
</div>

<div class="">
<h3><%= @answer %></h3>
<p><em>-Your Strict Coach</em></p>

<%= link_to "Ask a new question", ask_path %>

</div>
